# Benutzer-spezifische Dateien
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono spezifisch
mono_crash.*

# Auto-generierte Dateien
*.pidb
*.booproj
*.svd

# Build-Ergebnisse
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio spezifische Dateien
.vs/
.vscode/

# .NET spezifisch (beinhaltet .NET 9 Projekte)
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Von Visual Studio erzeugte Dateien
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test Dateien
_chutzpah/

# NUNIT
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build-Ergebnisse eines ATL-Projekts
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Ergebnisse
BenchmarkDotNet.Artifacts/

# Windows-spezifische Dateien
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Windows Installer Dateien
*.cab
*.msi
*.msm
*.msp

# Windows Verknüpfungen
*.lnk

# JetBrains Rider
.idea/
*.sln.iml
